@using PluginHub.Mvc5
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>测试</div>
	@Html.Widget("home_page_bottom")
	<div>测试</div>
</body>
</html>
